// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid_table{
  border: 1px solid black;
  width: 50%;
}

.grid_table_data{
  border: 1px solid black;
  height: 20px
}